---
layout: minimal
title: "Data Science Using Python"
permalink: /python/index.html
image: '/assets/img/series.png'
description: "List of blogs about data science using python"
---

{% for tag in site.categories %}
  <ul class="post-list">
    {% assign pages_list = tag[1] %}
    {% for post in pages_list reversed %}
      {% if post.title != null %}
        {% if post.main-class == 'python' %}
          {% if group == null or group == post.group %}
          <li><a href="{{ site.url }}{{ post.url }}">{{ post.title }}<span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }}</time></span></a></li>
          {% endif %}
        {% endif %}
      {% endif %}
    {% endfor %}
    {% assign pages_list = nil %}
    {% assign group = nil %}
  </ul>
{% endfor %}
